// References:
// http://manual.mailmate-app.com/custom_key_bindings
// http://manual.mailmate-app.com/key_binding_selectors

// Custom
"E" = "expandAll:"; // expands all threads in current view
"T" = "showThread:"; // lower-case t doesn't work because it's bound to tags (?)
"l" = "copyAsLink:"; // copies message:// link for selected message
"y" = ( "selectWithFilter:", "#thread-id = ${#thread-id}", "archive:"); // http://protips.maxmasnick.com/mailmate-keyboard-shortcut-to-archive-all-messages-in-a-thread
"@[" = "backInHistory:"; // moves back in history, e.g. back to mailbox after performing a search. ESC also works for this.
"@]" = "forwardInHistory:";
"/" = "searchAllMessages:";
"0" = ("makeFirstResponder:", "mainOutline"); // move focus to message list
"9" = ("makeFirstResponder:", "messageView"); // move focus to message view (for scrolling with arrows)
"D" = "saveAttachmentsInDownloads:";
"⌃j" = ("makeFirstResponder:", "messageEditor");
"d"   = "deleteMessage:"; // this is the FastMail keyboard shortcut, rather than #
"L" = "loadImagesOnce:"; // load remote images once
"h" = "nextAlternative:"; // shows HTML view of message (I have MM set to default to plain text when viewing messages)
"g" = "goToMailbox:";
"m" = "moveToMailbox:";
"C" = "showCorrespondence:"; // show all messages to/from the sender of the selected message
"." = "toggleFlag:";
"u" = ( "toggleFilterKey:", "unread" );
"J" =  "markAsNotJunk:";


// Switch j/k and n/p
"j" = "nextMessage:";
"k" = "previousMessage:";
"n" = "nextThread:";
"p" = "previousThread:";

// Thanks, Brett: https://gist.github.com/ttscoff/4703aaf195a1d7381b3a
// G,g jumps to first message in message list
// G,G jumps to last message in list
"G" = {
	"g" = ( "makeFirstResponder:", "mainOutline", "selectFirstMessageRow:");
  "G" = ( "makeFirstResponder:", "mainOutline", "selectLastMessageRow:");
};



// Based on: http://mail.google.com/support/bin/answer.py?answer=6594

"@\U000A" = "send:"; // ⌘+return
"@\U000D" = "send:"; // ⌘+enter





// Based on: http://mail.google.com/support/bin/answer.py?answer=6594

"@\U000A" = "send:"; // ⌘+return
"@\U000D" = "send:"; // ⌘+enter
